[submodule "hardfloat"]
	path = hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "torture"]
	path = torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "api-config-chipsalliance"]
	path = api-config-chipsalliance
	url = https://github.com/chipsalliance/api-config-chipsalliance.git
[submodule "emulator/firrtl-sig"]
	path = emulator/firrtl-sig
	url = https://github.com/ucsc-vama/firrtl-sig.git
[submodule "emulator/kahypar"]
	path = emulator/kahypar
	url = https://github.com/kahypar/kahypar.git
